.button {
  border: 0;
  /* background-color: lightblue; */
  color: white;
  padding: 0;
  transition: opacity 0.4s linear;
}

.buttonSize_s {
  width: 100%;
  height: 100%;
}

.buttonSize_xl {
  width: 324px;
}

.button_hide {
  display: none;
}

.button_iconArrowDown {
  background: center / contain no-repeat url(../../../icons/arrow/arrow-small-down.svg);
  

}

.button:hover {
  background-color: orange;
  cursor: pointer;
  opacity: 0.6;
}
