.dateBar {
  width: 100%;
  /* height: 30px; */
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dateBarWeek {
  width: 100%;
  background-color: tomato;
}

.dateBarDates {
  width: 100%;
  background-color: aqua;
}
