.totaContainer {
  margin-top: 1px;
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-columns: 60px 60px 60px;
  gap: 1px;
}

.totalItem {
  margin: 0;
  text-align: center;
  background-color: tomato;
  cursor: default;
}
