.cardContainer {
  display: grid;
  grid-template-columns: 25px 40px 60px 170px 25px;
  grid-template-rows: repeat(5, max-content);
  gap: 1px;
  margin-bottom: 5px;
}

.cardItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px dotted rgb(185, 182, 182);
  background-color: darkgray;
}

.cardItem__subtitle {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: flex-start;
  background-color: lightgray;
}

.cardItem__info {
  grid-column-start: 3;
  grid-column-end: 6;
  justify-content: flex-start;
  background-color: lightgray;
}

.cardItem__turnButton {
  grid-column-start: 1;
  grid-column-end: 6;
  
}

.cardItem__invisible {
  display: none;
}

.cardItem__extraContainer {
  
}