.cardContainer {
  display: grid;
  grid-template-columns: 25px 40px 60px 170px 25px 1fr;
  grid-template-rows: repeat(5, max-content);
  gap: 1px;
  margin-bottom: 1px;
}

.cardItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px dotted var(--dark-grey);
  background-color: var(--dark-grey);
  cursor: default;
}

.cardItem__subtitle {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: flex-start;
  background-color: var(--light-grey);
}

.cardItem__info {
  grid-column-start: 3;
  grid-column-end: 6;
  justify-content: flex-start;
  background-color: var(--light-grey);
}

.cardItem__turnButton {
  grid-column-start: 1;
  grid-column-end: 6;
}

.cardItem__invisible {
  display: none;
}

.cardWorkSchedule {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px var(--dark-grey) dotted;
  background-color: var(--light-grey);
}
