.button {
  border: 0;
  background-color: gray;
  color: white;
  padding: 0;
  transition: opacity 0.4s linear;
}

.buttonSize_s {
  width: 15px;
  height: 15px;
  margin: 5px;
}

.buttonSize_xl {
  width: 324px;
  background-color: lightblue;
}

.button:hover {
  background-color: orange;
  cursor: pointer;
  opacity: 0.6;
}
