html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --dark-gray: #7c8285;
  --light-gray: #bfbdb0;
  --dark-blue: #00a4e8;
  --light-blue: #96b8db;
  --light-yellow: #fdd666;
  --light-green: #bbd634;
  --dark-red: #e31a22;
}
